.footer {  
    background-color: google-color(grey, 300);

    a {
        color: google-color(grey, 500);
        &:hover {
            
        }
        &:active {

        }
    }    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__item {
        padding: 5px 10px;
    }       
    .copyright {
        padding: 1rem;

        .year {
            font-weight: 400;
        }
        .company {
            padding-left: 5px;
            font-weight: 600
        }
    }
}
