.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        padding: 1rem;        
    }
}

.header__item {
    
    a {

        &:hover {
            
        }
        &:active {

        }
    }
}