.nav {
    
    &__inner { 
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__item {
        padding: 5px 10px;
    }   
    a {
        /* color: color($cta shade(5%)); */
        font-weight: 400;

        &:hover {
            /* color: $cta; */
        }
        &:active {
            /* color: color($cta shade(8%)); */
        }  
    }  
}

.nav__main {

}
.nav__secondary {

}
.nav__aside {

}