.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  padding-right: $pad;
  padding-left: $pad;

  @mixin atSmallest {
    max-width: $atSmall;
  }  
  @mixin atSmall{
    max-width: $atMedium;
  }

  @mixin atMedium {
    max-width: $atLarge;
  }

  @mixin atLarge {
    max-width: $atLargest;
  }

  &--sm {  
    max-width: $atSmall;
  }

  &--md {  
      max-width: $atMedium;
  }

  &--lg {
      max-width: $atLarge;
  }

}

/* Margin adjustments */
.p {
  @for $p from 0 to 200 by 5 {
    &t-$(p) {
      padding-top: $(p)px;      
    }
    &b-$(p) {
      padding-bottom: $(p)px;      
    }
    &l-$(p) {
      padding-left: $(p)px;      
    }
    &r-$(p) {
      padding-right: $(p)px;      
    }
    &x-$(p) {
      padding-left: $(p)px;
      padding-right: $(p)px;
    }
    &y-$(p) {
      padding-top: $(p)px;
      padding-bottom: $(p)px;
    }
  }
}
/* Margin adjustments */
.m {
  @for $m from 0 to 200 by 5 {
    &t-$(m) {
      margin-top: $(m)px;      
    }    
    &b-$(m) {
      margin-bottom: $(m)px;      
    }
    &l-$(m) {
      margin-left: $(m)px;      
    }
    &r-$(m) {
      margin-right: $(m)px;      
    }
    &x-$(m) {
      margin-left: $(m)px;
      margin-right: $(m)px;
    }
    &y-$(m) {
      margin-top: $(m)px;
      margin-bottom: $(m)px;
    }

    /* Negatives */

    &t-minus-$(m) {
      margin-top: -$(m)px;      
    }    
    &b-minus-$(m) {
      margin-bottom: -$(m)px;      
    }
    &l-minus-$(m) {
      margin-left: -$(m)px;      
    }
    &r-minus-$(m) {
      margin-right: -$(m)px;      
    }
    &x-minus-$(m) {
      margin-left: -$(m)px;
      margin-right: -$(m)px;
    }
    &y-minus-$(m) {
      margin-top: -$(m)px;
      margin-bottom: -$(m)px;
    }
  }
}

/* Custom adjust Boostrap4 column gap */
.gap {
  @for $gap from 1 to 30 {
    &-$(gap) {
      margin-left: -$(gap)px;
      margin-right: -$(gap)px;
      & .col, & > [class^=col-] {
        padding-left: $(gap)px;
        padding-right: $(gap)px;
      }
    }
  } 
}

.contained__block {
  position: relative;
  border: 1px solid google-color(grey, 300);
  background-color: $main-white;
  box-shadow: 0 3px 0 google-color(grey, 50);
  border-radius: 6px;
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: .5rem;

  & .title {
    top: -.65rem;
    background: linear-gradient(white 10%, $main-white 90%);
    font-weight: 800;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    position: absolute;
    text-transform: uppercase;
  }
  & .title--center {
    left: 50%;
    transform: translateX(-50%);
  }
}

.buffer {
  &--full {
    &-sm {
      padding: $pad-sm;    
    }
    &-md {
      padding: $pad-md;
    }
    &-lg {
      padding: $pad-lg;
    }
    &-xl {
      padding: $pad-xl;
    }
  }
  &--x {
    &-sm {
      padding-left: $pad-sm;    
      padding-right: $pad-sm;    
    }
    &-md {
      padding-left: $pad-md;    
      padding-right: $pad-md;  
    }
    &-lg {
      padding-left: $pad-lg;    
      padding-right: $pad-lg;  
    }
    &-xl {
      padding-left: $pad-xl;    
      padding-right: $pad-xl;
    }
  }
  &--y {
    &-sm {
      padding-top: $pad-sm;    
      padding-bottom: $pad-sm;    
    }
    &-md {
      padding-top: $pad-md;    
      padding-bottom: $pad-md;  
    }
    &-lg {
      padding-top: $pad-lg;    
      padding-bottom: $pad-lg;  
    }
    &-xl {
      padding-top: $pad-xl;    
      padding-bottom: $pad-xl;
    }
  }
  &--t {
    &-sm {
      padding-top: $pad-sm;    
    }
    &-md {
      padding-top: $pad-md;
    }
    &-lg {
      padding-top: $pad-lg;
    }
    &-xl {
      padding-top: $pad-xl;
    }
  }
  &--b {
    &-sm {
      padding-bottom: $pad-sm;    
    }
    &-md {
      padding-bottom: $pad-md;
    }
    &-lg {
      padding-bottom: $pad-lg;
    }
    &-xl {
      padding-bottom: $pad-xl;
    }
  }
  &--l {
    &-sm {
      padding-left: $pad-sm;    
    }
    &-md {
      padding-left: $pad-md;
    }
    &-lg {
      padding-left: $pad-lg;
    }
    &-xl {
      padding-left: $pad-xl;
    }
  }
  &--r {
    &-sm {
      padding-right: $pad-sm;    
    }
    &-md {
      padding-right: $pad-md;
    }
    &-lg {
      padding-right: $pad-lg;
    }
    &-xl {
      padding-right: $pad-xl;
    }
  }
}
.bg {
    &--light {
        background-color: $main-base-color-body;
    }  
    &--alt {
        background-color: $main-base-color;
    }  
    &--white {
        background-color: white;
    }  
}
.content {
  position: relative;
    &__abs-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.anchor {
  &__view {
    color: $main-base-color;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  
  }
  &__gap {
    background-color: $main-base-color;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    height: 1px;
  }
}
.content__block {  
    & .title {
        color: $main-base-color-dark;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 800;
    }
    & .copy {
        color: $main-base-color;
        font-size: 18px;
        font-weight: 300;
    }
}

.mission {
  
}

.fixed__header {
  padding-top: 100px;
}
.vh {
  &--half {
    height: 50vh;
  }
}
